
.form.container
  =semantic_form_for(@order) do |f|
    =if @order.errors.any?
      %h2= pluralize(@order.errors.count, 'error')
      %ul
        -@order.errors.full_messages.each do |msg|
          %li=msg
          
    .center1=f.input :email
    %h1 DEPART
    %p Please enter the city from which you wish to depart
    %p 
      =f.collection_select :start_airport_id, @airports, :id, :collection_select_text
    %p Please enter the range of dates/times when you would be willing to depart.

    %p
      =f.text_field :departure_time_start, 'data-behavior' => 'datepicker', class: 'datepicker'

    %h1 RETURN
    
    %p Please enter your destination
    %p 
      =collection_select :order, :end_airport, @airports, :id, :collection_select_text

    %p Please enter the range of dates/times when you would like to return.

    %p
      =f.text_field :return_time_start, 'data-behavior' => 'datepicker', class: 'datepicker'

      =# bad_airlines

    %p=f.submit class: 'btn btn-large btn-primary'

  


