.form.container
  =semantic_form_for(@order) do |f|
    =f.inputs :email
    =f.inputs :max_price, label: 'Max Price ($):'

    =collection_select :order, :start_airport, @airports, :id, :collection_select_text
    =f.text_field :departure_time_start, class: 'datetimepicker'
    =f.text_field :departure_time_end, class: 'datetimepicker'

    =collection_select :order, :end_airport, @airports, :id, :collection_select_text
    =f.text_field :return_time_start, class: 'datetimepicker'
    =f.text_field :return_time_end, class: 'datetimepicker'

    =f.submit