.big-box 
	%h3 Welcome to Pearplanes!

	%p2
		We are here to help you find the lowest 
		deal on airfare. You enter your flight 
		destinations and the range of dates you are 
		available for departure and return. From 
		this we calculate the best time to buy 
		your ticket. And we will send you an email 
		at that time so you can get the lowest price. 
	.close-btn.btn.btn-large.btn-primary Continue
=render 'form'
