.big-box#big-box
	.form.container
		%h3 Welcome to Pearplanes!

		%p2.container
			We are here to help you find the lowest 
			deal on airfare. You enter your flight 
			destinations and the range of dates you are 
			available for departure and return. From 
			this we calculate the best time to buy 
			your ticket as the prices our changing, then send
			you an email when we think the prices are the lowest,
			so you can pay less for flights.
		%p 
			PROTIP: The cheapest days to fly are Wednesday, Tuesday, and Saturday.  The most expensive are Friday and Sunday.
		.close-btn.btn.btn-large.btn-primary Continue
=render 'form'
