.form
  %h1 Good work.  We will email you when we believe the price is at its lowest between now and the flight date.
  %p PROTIP: Use Pearplanes.com 8+ weeks before your preferred flight date for best results.
  %p Flying again soon?
  .btn.btn-primary.btn-large= link_to "Enter another flight", root_path
  