// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
	text-align: center;
	color: #3EA055;
	font-size: 18px;
	font-family: Tahoma;
	font-weight: bold;
	z-index: 3;
	}

h1 {
	text-align: center;
	color: #87AFC7;
	font-size: 22px;
	font-weight: bold;
	font-family: chicago;
	z-index: 5;
	text-decoration: underline;
}

body {
	background: url(../images/pearground.jpg);
}

div {
	z-index: 10;
	color: #87AFC7;


}

inputs {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.form {
	border:double;
	border-width: 15px;
	background: url(../images/stripes.jpg);
	border-radius: 25px;
	
}

.btn {
	font-family: Arial Black;
	background-color: #6CBB3C;
}

.center1 {
	position: relative;
	margin-left: 300px;
	padding-top: 20px;
}

.center2 {
	position: relative;
	margin-left: 255px;
}

.big-box {
	z-index:11;
	position: fixed;
	left: 0;
	bottom: -155px;
	width:100%;
	height:81%;
	top: 10%;
	background:url(../images/cutepaper.jpg);
	border:dotted;
	border-width: 10px;
	border-radius: 30px;
	text-align: center;
	padding: 50px;
}

.close-btn {
	margin-top: 40px;
	text-align: center;
	position: absolute;
	background:blue;
	width: 100px;
	height: 50x;
	right: 50%;
	border-radius: 5px;
	z-index: 14;
}

.btn {
	z-index:12;
	background:blue;
}

h3 {
	font-size: 70px;
	font-family: Georgia;
	color: #151B54; 
	padding-bottom: 20px;
}

p2 {
	padding: 20px;
	font-size: 30px;
	font-family: Georgia;
	color: #151B54;
}
p3 {
	color: white;
	font-family: Tahoma;
	font-size: 22px;
	z-index: 15;
}